<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../assets/css/register.css">
    <title>Register</title>
</head>

<body>
    <!-- MAIN CONTAINER -->
    <div class="main-login">
        <!-- FOMR LOGIN-FORM -->
        <form class="card-login">

            <div class="form-header">
                <h1>Registre-se e começe a planejar a sua agenda</h1>
            </div>


            <!-- INPUTS -->
            <div class="inputs">
                <div class="textfield">
                    <label for="usuario">Email
                        <div class="input-field">
                            <input type="text" name="email" placeholder="Digite seu Email"
                                onfocus="this.placeholder = ''" , onblur="this.placeholder = 'Digite seu Email'">
                        </div>
                    </label>
                </div>
                <div class="textfield">
                    <label for="usuario">Usuário
                        <div class="input-field">
                            <input type="text" name="usuario" placeholder="Digite seu usuário"
                                onfocus="this.placeholder = ''" , onblur="this.placeholder = 'Digite seu usuário'">
                        </div>

                    </label>
                </div>
                <div class="textfield">
                    <label for="senha">Senha
                        <div class="input-field">
                            <input type="password" name="senha" placeholder="Digite sua senha"
                                onfocus="this.placeholder = ''" , onblur="this.placeholder = 'Digite sua senha'">
                        </div>
                    </label>
                </div>

            </div>
            <button type="submit" class="btn-login">login</button>
        </form>
    </div>

</body>

</html>