@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");

body {
  margin: 0;
  font-family: sans-serif;
}

body * {
  box-sizing: border-box;
}

.main-login {
  width: 100vw;
  height: 100vh;
  background: #121212;
  background-image: linear-gradient(to top, #030303, #1b1b1b);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 
.left-login > h1 {
  color: #33ff8f;
  font-size: 3vw;
} */

.card-login {
  width: 30%;
  height: 80%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 30px 35px;
  background: #000;
  border-radius: 20px;
  box-shadow: 0px 10px 40px #00000056;
}

.card-header > h1 {
  color: #33ff8f;
  font-weight: 800;
  /* margin-top: 50px; */
}

hr {
  border: none;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 400px;
  height: 1px;
  color: #d6d6d6;
  background-color: #d6d6d6;
}

.textfield {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 10px 0px;
}

.textfield > input {
  width: 100%;
  border: none;
  border-radius: 10px;
  padding: 15px;
  background: #121212;
  color: rgb(255, 255, 255);
  font-size: 13pt;
  box-shadow: 0px 10px 40px #00000056;
  box-sizing: border-box;
  outline: none;
}

.textfield > input:focus {
  border: 2px solid #ffffff;
  outline-offset: 0px;
  outline: none;
}

.textfield > label {
  color: #ffffff;
  margin-bottom: 10px;
}

.textfield > input::placeholder {
  color: #b8b8b8;
}

.btn-login {
  width: 40%;
  padding: 16px 0px;
  margin: 25px;
  margin-top: 50px;
  border: none;
  border-radius: 50px;
  outline: none;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 3px;
  background-color: #33ff8f;
  color: #000;
  cursor: pointer;
}

.login {
  color: white;
  font-size: 14pt;
  text-decoration: underline;
}

.login:hover {
  color: #33ff8f;
}

@media only screen and (max-width: 950px) {
  .card-login {
    width: 85%;
  }
}

@media only screen and (max-width: 600px) {
  .main-login {
    flex-direction: column;
  }
  .left-login > h1 {
    display: none;
  }

  .left-login {
    width: 100%;
    height: auto;
  }

  .right-login {
    width: 100%;
    height: auto;
  }

  .left-login-image {
    width: 50vw;
  }

  .card-login {
    width: 90%;
  }
}
