body {
  margin: 0;
}

.main-login {
  width: 100vw;
  height: 100vh;
  background: #131b23;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-login {
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
